/*
.main-container {
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1000px;
    height: auto;
    padding: 20px 30px 20px 30px;
    border: 4px solid var(--text-primary);
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    transition: 0.5s;
    background: var(--background-white);
    margin-top: 100px;
    margin-bottom: 200px;
    scroll-behavior: auto;
}
*/

.main-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: auto;
    padding: 20px 30px 20px 30px;
    border: 4px solid var(--text-primary);
    border-radius: 10px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
    transition: 0.5s;
    background: var(--background-white);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 60px;
}

.heading {
    color: var(--text-primary);
    font-size: 18px;
    text-align: left;
    width: 100%;
    margin-left: 0;
}

.main-container .dog-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto 10px auto;
    border: var(--text-primary) 4px solid;
    border-style: outset;
    box-shadow: var(--shadow-color) 3px 3px 3px;
    cursor: pointer;
}

.popup-container {
    display: none; /* Hide the popup by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure the popup is above other content */
}

.popup-image {
    width: 600px;
    height: 600px;
    border-radius: 10px;
    box-shadow: var(--shadow-color) 5px 5px 5px;
    border: var(--text-black) 4px solid;
}

.profile-details {
    text-align: center;
    color: var(--text-black);
    margin-bottom: 30px;
    
}

.profile-details h4 {
    font-weight: 200;
}

.table-format {
    border-collapse: collapse;
    border: none;
    width: 80%;
    color: var(--text-black);
    margin-left: -40px;
}

.table-format td {
    height: 60px;
    padding: 15px 0px;
    width: 500px;
    text-align: center;
}

.table-format .data-container {
    position: relative;
    display: flex;
    align-items: center;
    border: 3px solid var(--text-primary);
    border-radius: 30px;
    padding-left: 25px;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.table-format .data-box table {
    position: relative;
    border: 3px solid var(--text-primary);
    border-radius: 30px;
    padding-left: 25px;
    height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
    scroll-behavior: auto;
    text-align: left;
}

.table-format .data-box table td {
    text-align: left;
}

/*
.table-format .data-container {
    width: 100%;
    padding-left: 30px; 
    border-radius: 50%;
    border: 3px solid var(--background-light);
    height: 35px;
    font-size: 16px;
    color: var(--text-black);
    background: var(--background-white);
    box-shadow: var(--shadow-color) 5px 5px 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    size: 100;
    height: 40px;
}

.table-format .data-container i {
    position: absolute;
    left: 10px; 
    pointer-events: none; 
    color: #aaa; 
    margin-top: 0px;
    
}

*/
