/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  color: #333; /* Default text color */
}

.profileandnavabr {
  display: flex;
}

/* Container Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Salon Profile Styles */
.salon-profile {
  position:relative;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.salon-header {
  display: flex;
  gap: 3rem;
  padding: 20px;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.salon-image {
  width: 500px;
  height: 400px;
  border-radius: 10%;
  box-shadow: 10px 15px 10px rgba(106, 13, 173, 0.2); /* Shadow with #6a0dad */
}

.salon-info {
  max-width: 500px;
}

/* Header and Star Rating Styles */
.salon-name {
  font-size: 35px;
  color: #6a0dad; /* Main purple color */
  margin-bottom: 10px;
}

.reviews {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.star {
  display: flex;
  align-items: center;
}

.star i {
  font-size: 20px;
  color: #6a0dad; /* Star color */
  margin-right: 5px;
}

.reveiwdetail {
  display: flex;
  align-items: center;
}

.rev {
  font-size: 16px;
  color: #333; /* Review text color */
  margin: 0;
}

/* Salon Details */
.salon-details {
  font-size: 18px;
  color: #333;
  padding: 10px 0;
  border-top: 3px solid #6a0dad;
  border-bottom: 3px solid #6a0dad;
  margin-top: 10px;
}

.salon-profile .edit a{
  text-decoration: none;
  color: #fff;
}

/* Button Styles */
.salon-profile button {
  position: absolute;
  right: 20px;
  padding: 8px 12px;
  color: #fff;
  font-size: 14px;
  background-color: #6a0dad;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.edit:hover {
  background-color: #da92f7;
  color: #6a0dad;
}

/* Description and Section Title */
.section-title {
  font-size: 24px;
  color: #6a0dad;
  margin-bottom: 20px;
}

.salon-description {
  font-size: 18px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 30px;
}
