.header-name{
    color: #6A0DAD;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-content: center;
}