.admin{
    width: 100%;
}
.admin-inside{
    display: flex;
    flex-direction: row;
    margin: 10px 100px;
    justify-content: space-between;
}
.admin-inside-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 20px;
    width: 32%;
    border: 3px solid var(--background-primary);
    color: var(--text-color);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
}
.admin-outside{
    margin: 100px 100px;
    display: flex;
    flex-direction: row;
    padding: 30px;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
}
.admin-outside-left{
    display: flex;
    flex-direction: row;
    width: 50%;
    gap: 20px;
}
.admin-outside-left form{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.admin-outside-left input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 100%;
}

.admin-outside-left button{
    padding: 10px;
    font-size: 20px;
    background-color: #B89ACB;
    border: 3px solid var(--background-primary);
    color: black;
    border-radius: 10px;
    width: 30%;
    cursor: pointer;
    align-items: center;
}
.admin-outside-left button:hover{
    background-color: #8F53B4;
    color: white;
}
.admin-outside-right{
    display: flex;
    align-items:center;
    justify-content:right;
    width: 50%;
}
.admin-outside-right a{
    padding: 10px;
    font-size: 20px;
    background-color: #B89ACB;
    border: 3px solid var(--background-primary);
    color: black;
    border-radius: 10px;
    width: 50%;
    cursor: pointer;
    align-items: center;
    text-decoration: none;
    color: black;
    text-align: center;
}
.admin-outside-right a:hover{
    background-color: #8F53B4;
    color: white;
}
