.profile{
    width: 100%;
}
.profile-top-head {
    margin: 10px 100px;
    height: 80px;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-top-head h1{
    font-size: 35px;
}
.profile_top{
    display: flex;
    flex-direction: column;
    height: 60%;
   border: 3px solid var(--background-primary);
   border-radius: 10px;
   background-color: var(--background-white);
    margin: 20px 100px;

}
.profile_down{
    margin: 40px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;
}
.profile_down button{
    width: 250px;
    height: 40px;
    background-color: var(--background-light);
    border-radius: 5px;
    color: var(--text-white);
    border: none;
    font-size: 15px;
    cursor: pointer;
}
.profile_down button:hover{
    background-color: var(--background-primary);
    color: var(--text-white);
    transform: scale(1.1);
}
.delete-form{
    padding: 20px;
}
.delete-form input{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    border: 2px solid black;
    background-color: #B89ACB;
    border: 3px solid var(--background-primary);
    padding: 5px;
}
.delete-form input:hover{
    background-color: #8F53B4;
    color: white;
}
.modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
       }

.modal-content {
    background-color: white;
    border: 3px solid var(--background-primary);
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   }
.modal-content p{
   font-size: 17px;
   color: var(--background-primary);
   font-weight: 500;
}
.modal-content input{
   width: 100%;
   padding: 10px;
   margin: 10px 0;
   border-radius: 5px;
   border: 1px solid #000000;
}

.modal-buttons{
    margin-top: 20px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
   
}
.modal-buttons button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80px;
    height: 40px;
    text-align: center;
    border: 2px solid var(--background-primary);
}
.modal-buttons button:hover {
    background-color:var(--background-primary);
    color: white;
}
.icon{
    font-size: 50px;
    color: var(--background-primary);
}
.regi-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.regi-img img{
    width: 200px;
    height: 200px;
}
table {
    width: 80%;
    border-collapse: separate; /* Use separate borders for spacing */
    border-spacing: 10px; /* Add gap between rows and columns */
    margin: 20px 200px; /* Center the table */
    border-radius: 10px; /* Rounded corners */
    padding: 20px;

}

table tr {
    margin: 10px 0; /* Add vertical spacing between rows */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
   
}


td, th {
    text-align: left;
    font-size: 18px;
    padding: 20px 15px; /* Add padding inside cells */
    border-radius: 5px; 
    border: 2px solid aqua;
    
}

th {
    color: white; /* Text color for header */
    font-size: 20px;
    font-weight: bold;
    border: none;
}

/* Input Field Styling */
label {
    font-size: 18px;
    font-weight: bold;
    display: block; 
    margin-bottom: 5px; 
    color: #333;
}
.regi-icon{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.icon{
    font-size: 30px;
    color: var(--background-primary);
}