.homeDiv1, .homeDiv2 {
    font-size: 1rem;
    padding: 3em 10em;

    display:flex;
    align-items: center;
    justify-content: center;
}

.homeDiv1 img, .homeDiv2 img {
    height: auto;
    width: 60%;
}
.homeDivText {
    text-align: center;
    color: black;

    font-size: 1.1em;
}
.homeDivHeader {
    font-size: 1.5em;
    font-weight: bold;
}

.regBtn button {
    font-size: 1.2em;
    color: white;

    border: 1px solid black;
    background-color: blue;

    padding: 1em;
    margin-right: 1em;
    border-radius: 10px;
}
.regBtn button:hover {
    cursor: pointer;
    color: black;
    background-color: lightblue;
    transition: ease 500ms;
}
