.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 70px;
    margin: 20px 0px;
}

.account-inside {
    margin: 30px;
    padding: 20px 100px;
    background-color: var(--background-primary);
    color: black;
}
.account-inside h1{
    font-size: 20px;
    font-weight: 100;
}

.account-inside-upper {
    display: flex;
    flex-direction: row;
    gap: 100px;

}

.account-inside-upper-1 {
    padding: 10px 60px;
    border: 3px solid var(--background-primary);
    color: var(--text-color);
    font-size: 20px;
    font-weight: 700;
}

.account-inside-lower {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin: 20px 0px;
}

.account-inside-lower-left form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 9px;
    border-radius: 10px;
    height: 300px;
    width: 300px;
    border: 3px solid var(--background-primary);
    color: var(--text-color);
}

.account-inside-lower-left form input {
    padding: 9px;
    font-size: 15px;
    border-radius: 10px;
    height: 45px;
    width: 250px;
}

.account-inside-lower-left form button {
    padding: 10px;
    font-size: 20px;
    background-color: #B89ACB;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    border-radius: 10px;
    width: 200px;
    height: 50px;
    cursor: pointer;
}

.account-inside-lower-left form button:hover {
    background-color: #8F53B4;
    color: white;
}

.account-inside-lower-right form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 300px;
    border-radius: 10px;
    background-color: #F1DBFF;
}

.account-inside-lower-right form input {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.account-inside-lower-right form button {
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #B89ACB;
    cursor: pointer;
}

.account-inside-lower-right form button:hover {
    background-color: #8F53B4;
    color: white;
}

.admin-navbar-inside-left-inner-1 ul li.active {
    background-color: #F8ECFF;
    /* Active background color */
}

.admin-navbar-inside-left-inner-1 ul li.active a {
    color: #000000;
    /* Text color for the active link */
}