.account{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    gap: 70px;
}
.account-inside{
    margin: 30px;
    padding: 20px 100px;
    background-color:#F1DBFF ;
}
.account-inside-upper{
    display: flex;
    flex-direction: row;
    gap: 500px;

}
.account-inside-upper-1{
 
   
    padding: 10px 60px;
    background-color: #F1DBFF;
    font-size: 20px;
    font-weight: 700;
}
.account-inside-lower{
    display: flex;
    flex-direction: row;
    gap: 450px;
}
.account-inside-lower-left form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 10px;
    height: 300px;
    background-color: #F1DBFF;
}
.account-inside-lower-left form input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.account-inside-lower-left form button{
    padding: 10px;
    font-size: 20px;
    background-color: #B89ACB;
    border-radius: 10px;
    cursor: pointer;
}
.account-inside-lower-left form button:hover{
    background-color: #8F53B4;
    color: white;
}
.account-inside-lower-right form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    height: 300px;
    border-radius: 10px;
    background-color: #F1DBFF;
}
.account-inside-lower-right form input{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}
.account-inside-lower-right form button{
    padding: 10px ;
    border-radius: 10px;
    font-size: 20px;
    background-color: #B89ACB;
    cursor: pointer;
}
.account-inside-lower-right form button:hover{
    background-color: #8F53B4;
    color: white;
}


