.home-1 {
    padding: 20px;
    margin: 20px 100px;
    border-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    border: 3px solid var(--background-primary);
}

.home-inside {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.home-inside img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.home-inside-right {
    margin-top: 0px;
    margin-right: 30px;
}

.home-inside-right img {
    width: 100px;
    height: 100px;
}

.home-before {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.home-after {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin:  0px 80px;
    gap: 90px;
}
.home-after h3{
    font-size: 17px;
    font-weight: 500;
}

.home-after-inside {

    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 40px;
    /* margin: 30px; */
    border-radius: 20px;
    gap: 5px;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);   

}

.home-after-outer {
    width: 250px;
    height: 120px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 40px;
    /* margin: 30px; */
    border-radius: 20px;
    gap: 5px;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
}

.home-below {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: left;
    margin: 0px 80px;
}

.home-below-inside {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 5px;
    width: 250px;
    height: 120px;
    padding: 40px;
    border-radius: 20px;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
}
.home-down{
    display: flex;
    justify-content: space-between;
    margin: 50px 100px;
    gap: 20px;
}
.home-chart{
    display: flex;
    align-items:self-start;
    width: 45%;
    padding: 20px;
}
canvas {
    max-width: 600px;
    margin: 0 auto;
    height: 400px;
    border: 3px solid var(--background-primary);
    box-shadow: 20px 20px 25px rgba(213, 212, 212, 0.3);
}
table {
    width: 550px; /* Adjust the width as needed */
    border-collapse: collapse;
    font-size: 12px; /* Smaller font size */
    box-shadow: 10px 10px 15px rgba(163, 161, 161, 0.3);
    height: 240px;
    padding: 30px;
}

th, td {
    padding: 5px 10px; /* Reduce padding */
    text-align: left;
   
}

tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}
.home-down-message{
    width: 50%;
    border: 2px solid var(--background-primary);
    width: 50%;
    padding: 30px;
}

.admin-navbar-inside-left-inner-1 ul li.active {
    background-color: #F8ECFF;
    /* Active background color */
}

.admin-navbar-inside-left-inner-1 ul li.active a {
    color: #000000;
    /* Text color for the active link */
}