.payment {
    width: 100%;
}

.payment-inside {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 100px;
    gap: 30px;
}

.payment-inside-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 20px;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    width: 40%;
    color: var(--text-color);

}

.Payment-outside {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.Payment-outside-top {
    display: flex;
    flex-direction: row;
    gap: 50px;

}

.Payment-outside form .Payment-outside-top {

    display: flex;
    flex-direction: row;
    gap: 200px;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    border: 3px solid var(--background-primary);
    box-shadow: 10px 10px 15px rgba(202, 143, 225, 0.3);
    color: var(--text-color);
}

.Payment-outside form .Payment-outside-top input {
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
}

.Payment-outside form .Payment-outside-down {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0px 100px;
}

.Payment-outside form .Payment-outside-down button {
    padding: 10px;
    font-size: 20px;
    background-color: #B89ACB;
    color: black;
    border-radius: 10px;
    margin-top: 30px;
    width: 200px;
    cursor: pointer;
    align-items: center;
}

.Payment-outside form .Payment-outside-down button:hover {
    background-color: #8F53B4;
    color: white;
}

.admin-navbar-inside-left-inner-1 ul li.active {
    background-color: #F8ECFF;
    /* Active background color */
}

.admin-navbar-inside-left-inner-1 ul li.active a {
    color: #000000;
    /* Text color for the active link */
}