
.profile_top {
    display: flex;
    flex-direction: column;
    height: 60%;

}

.profile_top_inside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
   border: 3px solid var(--background-primary);
   border-radius: 10px;
   background-color: var(--background-white);
    margin: 20px 100px;
   
}

.profile_top_inside_left {
    width: 35%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_top_inside_left img {
    width: 200px;
    height: 200px;
}
.profile_down {
    margin: 40px 100px;
    display: flex;  
}

.profile_down button {
    width: 250px;
    height: 40px;
    background-color: var(--background-light);
    border: none;
    border-radius: 5px;
    color: var(--text-white);
    font-size: 15px;
    cursor: pointer;
}

.profile_down button:hover {
    background-color: var(--background-primary);
    color: var(--text-white);
    transform: scale(1.1);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    text-align: center;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-content-inside {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.close {
    color: #aaa;
} 

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content button {
    width: 100%;
    height: 40px;
    background-color: #B89ACB;
    border-radius: 5px;
    color: black;
    font-size: 15px;
    cursor: pointer;

}

.modal-content button:hover {
    background-color: #8F53B4;
    color: white;
}
table {
    width: 80%;
    border-collapse: separate; 
    border-spacing: 10px; 
    margin: 20px 200px; 
    border-radius: 10px; 
    padding: 20px;
    
}

table tr {
    margin: 10px 0; 
    transition: background-color 0.3s ease; 
}


td {
    text-align: left;
    font-size: 18px;
    padding: 20px 15px; 
    border-radius: 5px; 
    width: 60%;;
}

th {
    color: white; 
    font-size: 20px;
    font-weight: bold;
    border: none;
}

label {
    font-size: 18px;
    font-weight: bold;
    display: block; 
    margin-bottom: 5px; 
    color: #333;
}
.regi-icon{
    display: flex;
    flex-direction: row;
    gap: 25px;
}
.icon{
    font-size: 30px;
    color: var(--background-primary);
}